version: "3"

services:
  app: 
    build: 
      context: .
    depends_on:
      - mysql
      - redis
    ports:
      - 8080:8080
    networks:
      - app-network

  mysql:
    image: mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    networks:
      - app-network

networks:
  app-network
